body {
    margin: 0;
    padding: 0;
}

.banner {
    margin: 0;
    padding: 0;
}

.banner img {
    height: 100%;
    width: 100%;

}

.wrapper {
    margin: 5px;
}

h2 {
    margin: 0.2rem 0;
}

h3 {
    margin: 0.2rem 1rem 0.2rem 1rem;
}

p {margin: 0.2rem 1.5rem 1rem 1.5rem;}